<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Christopher's Spider Chart Test</title>
    <link href="demo.css" media="screen" rel="stylesheet" type="text/css">
    <link href="demo-print.css" media="print" rel="stylesheet" type="text/css">
    <script src="3rdpartyjavascript/raphael.js"></script>
    <script src="SimpleSpider.js"></script>
    <style media="screen">
        body {
            margin: 0;
            padding: 0;
            text-align: center;
        }

        h1 {
            font-weight: 400;
            height: 5%;
        }

        #canvas {
            height: 480px;
            margin: 0 auto;
            text-align: left;
            width: 640px;
        }

    </style>

    <script>


    </script>
</head>
<body>
<h1>Christopher's Spider Chart</h1>

<div id="canvas"></div>
<!--<div id="canvas" style="width:800px; height:250px;position: fixed; top: 95px;; background:#333;"></div>-->
</body>
</html>